*{
    box-sizing: border-box;
}
.advantages {
    font-family: var(--font-saira);
    margin: auto;
    max-width:1200px;

}
@media (min-width:768px) {
    .advantages {
        display: flex;
        
    }
}

.advantages__img-backpack {
    display: block;
    
}
@media (min-width:768px) {
    .advantages__img-backpack {
        flex: 1;
        
    }
}
.advantages__img-backpack img{
    width: 100%;
}
.advantages__text-area {
    word-wrap: break-word;
    margin: 5px;
    

}
@media (min-width:768px) {
    .advantages__text-area {
        flex: 1;
        padding-top: 30px;
    }
}
@media (min-width:1200px) {
    .advantages__text-area {
        padding-top: 70px;
    }
}

h3 {
    font-weight: normal;
    font-size: 35px;

}
@media (min-width:768px) {
    h3 {
        font-size: 40px;
    }
}

p {
    font-size: 20px;
    color: rgb(87, 85, 85);
    padding: 15px 0;
}