.card-title{
    text-align: center;
   }
.card-text{
 font-weight: 700;
 margin-top: 40px;
 text-align: center;
 color: rgb(255, 0, 0);
}
.card-link{
 
 padding-inline:30px;
 padding-top:5px;
 padding-bottom:5px;
 border-radius: 20px;
 text-decoration: none;
 background-color: red;
 color: white;
 
}

.text-center{
 margin-bottom: 30px;
}
.product-title {
         position: relative;
         padding: 40px;
         text-align: center;
         color: white;
         font-size: 50px;
         font-weight: 400;
     }
     .product {
         background-image: url('../img/bags/background-products.png');
         font-family: 'Saira';
         padding-right: 80px;
         padding-left: 80px;
         padding-top: 50px;
         padding-bottom: 40px;
     }

     .code {
color: red;
}

.clock {
 color: orangered;
}

