.collections_header{
    font-family: var(--font-saira);
    color: var(--text-color-black);
    font-size: 38px;
    font-stretch: 100%;
    font-weight: 400;
    display:flex;
    justify-content: center;
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
}
.collections_product-box{
    display: grid;
    grid-gap: 10px 20px;
}
.collections_img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin: 30px;


}
.collections_name{
    display: flex;
    justify-content: center;
    align-items:end;
    font-family: var(--font-saira);
    font-size: 26px;
    color: var(--text-color-white);
    background-color: var(--text-color-red);
    
   

}
.button_collections-text{
    font-family: var(--font-merriweather);
    font-size: 20px;
    color: var(--text-color-black);
    text-decoration: none;
    padding-top: 40px;
    display: flex;
    justify-content: center;
   

}