div.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--text-color-black);
    width: 100%;
    color: var(--text-color-white);
    text-align: center;
}
div.footer__description{
    align-items: center;
}