.handmade_means {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hendmade__taitl {
  margin: 0 auto;
  padding: 75px 24px 45px 24px;
}

.handmade__header-text {
  color: var(--text-color-black);
  font-family: Saira, sans-serif;
  font-size: 38px;
  text-align: center;
  margin: 0 auto;
}

h3.handmade__mail_h3 {
  color: var(--text-color-black);
  font-family: Saira, sans-serif;
  font-size: 38px;
  text-align: center;
}

.handmade_product_h3 {
  width: 100%;
  max-width: 800px;
}

.handmade__products_all {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 800px;
}

.handmade_product {
  display: block;
  width: 100%;
}
.handmade__products-carousel {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin-bottom: 25px;
  align-items: center;
  justify-items: center;
}
.handmade_aroow {
  border-left: var(--handmade-border-size) solid var(--handmade-color-errows);
  border-bottom: var(--handmade-border-size) solid var(--handmade-color-errows);
  width: var(--handmade-size-line);
  height: var(--handmade-size-line);
  transform: rotate(135deg);
}

.arrow_right {
  transform: rotate(225deg);
}

.arrow_left {
  transform: rotate(45deg);
}

@media (min-width: 100px) {
  .handmade__products_all {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) {
  .handmade__products_all {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .handmade__products_all {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
