.handmade_means {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hendmade__taitl {
  margin: 0 auto;
  padding: 75px 24px 45px 24px;
}

.handmade__header-text {
  color: var(--text-color-black);
  font-family: Saira, sans-serif;
  font-size: 38px;
  text-align: center;
  margin: 0 auto;
}

h3.handmade__mail_h3 {
  color: var(--text-color-black);
  font-family: Saira, sans-serif;
  font-size: 38px;
  text-align: center;
  /* margin: 0 auto; */
}

.handmade_product_h3 {
  /* display: block; */
  width: 100%;
  max-width: 800px;
}

.handmade__products_all {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 800px;
}

.handmade_product {
  display: block;
  width: 100%;
  /* margin: 15px; */
  /* height: 324px;
  object-fit: cover;
  object-position: 50% 27.189%; */
}
.handmade__products-carousel {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin-bottom: 25px;
  align-items: center;
}
.products__carousel-forward {
  width: 40px;
  height: 40px;
  margin-right: 46px;
}

.products__carousel-back {
  width: 40px;
  height: 40px;
  margin-left: 46px;
}

@media (min-width: 769px) {
  .handmade__products_all {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .handmade__products_all {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
