div.header{
    display: flex;
    flex-direction: column;
    min-width: 320px; 
}
div.header__title{
    justify-content: flex-start;
    font-size: 34px;
    text-decoration: none;
    padding: 20px 24px 50px;
    color: var(--text-color-black);
}
h1 > a{
    color: var(--text-color-black);
    text-decoration: none;
    font-family: var(--font-saira);
}

    div.navigation-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 5;
  }
    div.navigation-burger span,
    div.navigation-burger::before,
    div.navigation-burger::after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--banner-h-color);
    transition: all 0.5s ease-in-out;
  }
    div.navigation-burger span {
    transform: scale(1);
  }
  div.navigation-burger::before,
  div.navigation-burger::after {
    content: " ";
  }
  div.navigation-burger::before {
    top: 0;
  }
  div.navigation-burger::after {
    bottom: 0;
  }
  div.navigation-burger.active span {
    transform: scale(0);
  }
  div.navigation-burger.active::before {
    top: 50%;
    transform: rotate(-45deg);
  }
  div.navigation-burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
  }

div.header__header-navigation{
   display: none;
   left: -300px;
}
div.header__header-bottom__image > img{
    margin-bottom: 0;
    width: 100%;
}
div.header__header-bottom__description{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-header);
    padding: 50px 24px 0;
    margin-top: -10px;
}
div.header__header-bottom__description__notebooks{
    font-size: 58px;
    font-weight: 500;
    color: var(--text-color-black);
    font-family: var(--font-saira);
}
div.header__header-bottom__description__about{
    font-size: 16px;
    color: var(--text-color-black);
    font-family: var(--font-merriweather);
    font-weight: 400;
    padding: 20px 0;
}
div.header__header-bottom__description__button{  
    margin-bottom: 50px;
}
div.header__header-bottom__description__button > a{
    font-size: 15.4px;
    font-weight: 400;
    text-decoration: none;   
    color: var(--text-color-white);
    font-family: var(--font-merriweather);
    text-align: center;
    padding: 10px 10px;
    border-radius: 25px;
    background-color: var(--text-color-red);
}
a:hover{
    cursor: pointer;
}

@media (min-width: 990px) { 
  div.header{
    display: flex;
    flex-direction: column;
    max-width: 1120px; 
}
  div.header__title{
    text-align: center;
  }
  div.header__header-navigation{
    overflow: visible;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
 }
 div.header__header-navigation> nav > ul > li{
   display: inline-block;
   padding: 0.2rem;
 }

  div.header__header-navigation> nav > ul > li > a{
    text-decoration: none;
    color: var(--text-color-black);
    font-family: var(--font-merriweather);
    font-size: 15px;
  }
  
  div.header__header-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
  }

  div.header__header-bottom__image{
    width: 160%;
    margin: -10px -120px 0;
  }

  div.header__header-bottom__description{
    padding: 0 20px;
  }
 
  div.header__header-bottom__description__button{
    margin-bottom: 0;
  }
  div.navigation-burger{
    display: none;
  }
}