.our-team {
    font-family: 'Saira', sans-serif;
    padding-top: 90px;
    padding-bottom: 60px;
}
.our-team__header{
    display: flex;
    flex-direction: column;
    align-items: center;    
    }
.our-team__tab-nav{
    margin-top: 45px;
    display: flex;   
    width: calc(100%+30px);
    overflow-x: scroll;
    border-bottom: solid 2px rgba(177, 173, 173, 0.5);
}    

@media (min-width: 657px){
    .our-team__tab-nav{
         justify-content: center;
    }     
}

@media (min-width: 768px){
       
    .our-team__tab-nav{
        overflow: hidden;
    }
}


.our-team h2{
    color: var(--yellow-color);
    font-size: 39px;
    font-weight: 400;
}

.tab-nav{
    display: block;
    color: rgb(119,119,119);
    font-size: 22px;
    font-weight: 400;
    padding: 15px 20px;
    white-space: nowrap; 
    cursor: pointer;      
}

.tab-nav-active {
    font-weight: bold;
    border-bottom: solid 3px var(--yellow-color);
}

.our-team__cards {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    
}

@media (min-width: 657px)  {
    .our-team__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}


.our-team__cards .card-container {
    font-family: 'Saira', sans-serif;
    flex-basis: 50%;
    margin: 30px;
    padding: 0px;
}
.our-team__cards h3 {
    font-size: 28px;
    
}
.our-team__cards p {
    font-size: 15px;
    padding: 6px 0px 6px 0px;
    margin-bottom: 0px;
}