.card-title{
    text-align: center;
   }
.card-text{
 font-weight: 700;
 margin-top: 40px;
 text-align: center;
 color: rgb(255, 0, 0);
}
.card-link{
 
 padding-inline:30px;
 padding-top:5px;
 padding-bottom:5px;
 border-radius: 20px;
 text-decoration: none;
 background-color: red;
 color: white;
 
}
.card-body{
 margin-bottom: 20px;
}
.text-center{
 margin-bottom: 30px;
}
.product-title {
         position: relative;
         padding: 5vw;
         text-align: center;
         color: white;
         font-size: 26px;
         font-weight: 600;
     }
     .product {
         background-image: url("../img/bags/background-products.png");
         font-family: 'Saira';
         padding: 20px;
     }