.product {
    font-family: 'Saira';
}


/* @media (max-width: 992px) {
            .container {
                width: 720px;
            } */

.product-list-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* @media (max-width: 768px) {
            .container {
                width: 540px;
            }
            .product-list-card {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        } */

@media (max-width: 575px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}


/* --------------adaptive-------------------- */

body {
    margin: 0;
    padding: 0;
}

.product {
    background-image: url("img/bags/background-products.png");
}

.product-element {
    width: 100%;
    margin: 0 auto;
}

.product-list-card {
    display: flex;
    /* flex-direction: row;
            flex-wrap: wrap; */
}


/* ------------------------------------------------------- */

.product-pic {
    position: relative;
    /* растягиваем по ширине окна */
    width: 80%;
    /* скрываем всё, что не поместилось в экран */
    overflow: hidden;
    /* центрируем обёртку */
    left: 50%;
    transform: translate(-50%);
    /* центрируем картинки */
    display: flex;
    justify-content: center;
}

.product-items {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 5vw;
    font-weight: 600;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

.product-prise {
    color: red;
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
}

.product-buy {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 10vw;
    background-color: red;
    border-radius: 20vw;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.buy {
    background-color: red;
    text-decoration: none;
    color: white;
    font-size: 5vw;
}

.poduct-info-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
    top: -50vw
}


/* ----------------------------------------------------------------------------- */

.product-title {
    position: relative;
    padding: 5vw;
    text-align: center;
    color: white;
    font-size: 7vw;
    font-weight: 600;
}